<div id="vote_feedback" class="p-3 rounded-lg text-sm <%= type == 'error' ? 'bg-red-50 dark:bg-red-900/20 text-red-800 dark:text-red-300' : 'bg-emerald-50 dark:bg-emerald-900/20 text-emerald-800 dark:text-emerald-300' %>">
  <%= message %>
</div>

